
// @import "~@material/feature-targeting/functions";
// @import "~@material/elevation/mdc-elevation";
// @import "~@material/layout-grid/mdc-layout-grid";
// @import "~@material/button/mdc-button";
// @import "~@material/typography/mdc-typography";


body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #eee;
}

#top-header{
    padding: 5px;
    width: 100%;
    background-color: #222;
    height: auto;
    color: white;

    .uk-navbar-nav > li {
        font-size: 0.875rem;
        padding: 0 15px;
        >a{
            min-height: auto;
            color: white;
            text-transform: capitalize;
            padding: 0;

            &:hover{
                color: lightgray;
            }
        }
    }
}

.sidebar{
    background: linear-gradient(#014488, #67c8eb);
    position: static;
    border-radius: 10px;
    height: auto;
    width: 100%;
    .admin-user{
        padding: 1.5rem 1.5rem 0;
    }
    .admin-nav{
        li.mdc-list-item{
            padding: 0 1.25rem;
            height: 36px;
            .mdc-list-item__text{
            }
            a{
                color: white;
                text-decoration: none;
                width: 100%;
                height: auto;
            }
            &:hover, &.active{
                background-color: #eee;
                a{
                    color: #222;
                }
            }
            &:hover{
                a{
                    color: #014488;
                }
            }
        }
    }
    .logo-wrapper{
        padding: 1rem;
    }
}

.admin-section{
    .uk-tile{
        padding: 0.5rem 1.2rem;
    }
}

.admin-post-list{
    .admin-post-items--grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 2rem;
        padding: 1rem;
        &.uk-tile::before, &.uk-tile::after{
            display: none;
        }

        > .mdc-card{
            .uk-card-body{
                padding: 0.5rem;
                position: relative;
                overflow: hidden;
            }
            .mdc-fab{
                background-color: #f1c726;
                z-index: 100;
                width: 45px;
                height: 45px;
                &.mdc-fab--absolute {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                  }
                .mdc-fab__icon{
                    font-size: 1.5rem;
                }
            }
            .uk-card-footer{
                padding: 0.5rem;
            }
        }
    }
}

.admin-show-post{
    .uk-tile{
        padding: 1.5rem;
    }
}

.admin-portfolio .mdc-card{
    flex-direction: unset;
    margin-bottom: 2rem;
    .uk-tile{
        padding: 0.5rem 1rem;
        // border-radius: 10px 10px;
        .caption-header{
            font-weight: 500;
            color: #aaa;
        }
        * + .uk-h6{
            margin-top: 1rem;
        }
        .uk-h6{
            margin-bottom: 1rem;
        }
        .uk-nav-primary a{
            padding: 0 1rem;
        }
    }
}

@media ( min-width: 840px)
{
    .mdc-layout-grid{
        padding: 1rem;
    }
}

footer{
    height: auto;
    background-color: #666;
    .copyright{
        background-color: #333;
        width: 100%;
        height: auto;
        padding: 10px 0px 5px;
        color: white;
        nav.uk-navbar{
            width: 85%;
            margin: 0 auto;
        }
        .uk-navbar-nav > li, .uk-navbar-nav > li > a{
            min-height: auto;
            text-transform: capitalize;
        }
    }
}

.uk-table td{
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
}

.uk-table th{
    text-transform: capitalize;
    font-weight: 500;
    color: #222;
    font-size: 1rem;
}
