body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #eee;
}

#top-header {
  padding: 5px;
  width: 100%;
  background-color: #222;
  height: auto;
  color: white;
}

#top-header .uk-navbar-nav > li {
  font-size: 0.875rem;
  padding: 0 15px;
}

#top-header .uk-navbar-nav > li > a {
  min-height: auto;
  color: white;
  text-transform: capitalize;
  padding: 0;
}

#top-header .uk-navbar-nav > li > a:hover {
  color: lightgray;
}

.sidebar {
  background: -webkit-gradient(linear, left top, left bottom, from(#014488), to(#67c8eb));
  background: linear-gradient(#014488, #67c8eb);
  position: static;
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.sidebar .admin-user {
  padding: 1.5rem 1.5rem 0;
}

.sidebar .admin-nav li.mdc-list-item {
  padding: 0 1.25rem;
  height: 36px;
}

.sidebar .admin-nav li.mdc-list-item a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: auto;
}

.sidebar .admin-nav li.mdc-list-item:hover,
.sidebar .admin-nav li.mdc-list-item.active {
  background-color: #eee;
}

.sidebar .admin-nav li.mdc-list-item:hover a,
.sidebar .admin-nav li.mdc-list-item.active a {
  color: #222;
}

.sidebar .admin-nav li.mdc-list-item:hover a {
  color: #014488;
}

.sidebar .logo-wrapper {
  padding: 1rem;
}

.admin-section .uk-tile {
  padding: 0.5rem 1.2rem;
}

.admin-post-list .admin-post-items--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(120px, auto);
  grid-gap: 2rem;
  padding: 1rem;
}

.admin-post-list .admin-post-items--grid.uk-tile::before,
.admin-post-list .admin-post-items--grid.uk-tile::after {
  display: none;
}

.admin-post-list .admin-post-items--grid > .mdc-card .uk-card-body {
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.admin-post-list .admin-post-items--grid > .mdc-card .mdc-fab {
  background-color: #f1c726;
  z-index: 100;
  width: 45px;
  height: 45px;
}

.admin-post-list .admin-post-items--grid > .mdc-card .mdc-fab.mdc-fab--absolute {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.admin-post-list .admin-post-items--grid > .mdc-card .mdc-fab .mdc-fab__icon {
  font-size: 1.5rem;
}

.admin-post-list .admin-post-items--grid > .mdc-card .uk-card-footer {
  padding: 0.5rem;
}

.admin-show-post .uk-tile {
  padding: 1.5rem;
}

.admin-show-post .mdc-card .uk-card-media-top img {
  width: inherit;
  height: inherit;
}

.admin-portfolio .mdc-card {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
          flex-direction: unset;
  margin-bottom: 2rem;
}

.admin-portfolio .mdc-card .uk-tile {
  padding: 0.5rem 1rem;
}

.admin-portfolio .mdc-card .uk-tile .caption-header {
  font-weight: 500;
  color: #aaa;
}

.admin-portfolio .mdc-card .uk-tile * + .uk-h6 {
  margin-top: 1rem;
}

.admin-portfolio .mdc-card .uk-tile .uk-h6 {
  margin-bottom: 1rem;
}

.admin-portfolio .mdc-card .uk-tile .uk-nav-primary a {
  padding: 0 1rem;
}

@media (min-width: 840px) {
  .mdc-layout-grid {
    padding: 1rem;
  }
}

footer {
  height: auto;
  background-color: #666;
}

footer .copyright {
  background-color: #333;
  width: 100%;
  height: auto;
  padding: 10px 0px 5px;
  color: white;
}

footer .copyright nav.uk-navbar {
  width: 85%;
  margin: 0 auto;
}

footer .copyright .uk-navbar-nav > li,
footer .copyright .uk-navbar-nav > li > a {
  min-height: auto;
  text-transform: capitalize;
}

.uk-table td {
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
}

.uk-table th {
  text-transform: capitalize;
  font-weight: 500;
  color: #222;
  font-size: 1rem;
}

